/admin_area/assets
/admin_area/images
/admin_area/vendor
/admin_area/composer.json
/admin_area/composer.lock
/controller
/css
/fonts
/HTML
/images
/include
/js
/php
/scss
/webfonts
/index.php
/login.php
/myaccount.php
/re-password.php
/shop-cart.php
/shop-checkouts.php
/shop-grids.php
/shop-lists.php
/shop-product-detail.php
/signup.php